{{!-- All content below is used for testing --}}

<h1 data-test="modal-title">Modal</h1>

<dl>

  <dt>Model</dt>
  <dd data-test="modal-model">{{modal.model}}</dd>

  <dt>Model.name</dt>
  <dd data-test="modal-model-name">{{modal.model.name}}</dd>

  <dt>Controller constructor</dt>
  <dd data-test="modal-controller_constructor">{{controller.constructor}}</dd>

</dl>
