<h2 id='title'>Testing Ember Modals</h2>

<ul>
  <li>{{#link-to 'index'}}Use an object controller{{/link-to}}</li>
  <li>{{#link-to 'array-controller'}}Use an array controller{{/link-to}}</li>
  <li>{{#link-to 'info.about'}}Use nested route{{/link-to}}</li>
</ul>

{{outlet}}

{{outlet 'modal' name='modal'}}

{{outlet 'modal-two' name='modal-two'}}
