<h2 id='title'>Testing Ember Modals</h2>

<ul>
  <li>{{#link-to 'index'}}Object Controller{{/link-to}}</li>
  <li>{{#link-to 'array-controller'}}Array Controller{{/link-to}}</li>
</ul>

{{outlet}}

{{outlet 'modal' name='modal'}}

{{outlet 'modal-two' name='modal-two'}}
