<h1>Modal</h1>

<dl>

  <dt>Model</dt>
  <dd>{{modal.model}}</dd>

  <dt>Model.name</dt>
  <dd>{{modal.model.name}}</dd>

  <dt>Controller constructor</dt>
  <dd>{{controller.constructor}}</dd>

</dl>
