<div class="modal_wrapper">

  {{!-- The actual model --}}
  <section class="modal">

    <button {{action 'closeModal'}} class="close" title="Close the modal">
      <span class="icon-close">&times;</span>
      <span class="hidden">Close modal</span>
    </button>

    {{!-- The content of the template you specify will render here --}}
    {{yield}}

  </section>

</div>
