<div class="fullscreen-modal">
  <div class="modal_container">
    <section {{bind-attr class='modalClass'}}>

      <button {{action 'closeModal'}} class="close_modal" title="Close the modal">
        <i class="icon-incorrect"></i>
        <span class="hidden">Close modal</span>
      </button>

      {{yield}}

    </section>
  </div>
</div>
